.hero-child-page {
  .inner {
    min-height: 720px;
    @include breakpoint(mob-lg) {
      min-height: 100%;
      align-items: flex-start;
    }
    .img-outer {
      background-repeat: no-repeat;
      background-position: center center;
      min-height: 720px;
      width: 635px;
      max-width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      @include breakpoint(mob-lg) {
        position: relative;
      }
    }
    .copy-outer {
      position: absolute;
      background-color: $white;
      height: 500px;
      width: 740px;
      right: -120px;
      top: 230px;
      @include breakpoint(tablet) {
        height: 431px;
        width: 572px;
        bottom: 0;
        right: 0;
        padding: 0 20px;
        height: auto;
        top: 60px;
        position: relative;
      }
      @include breakpoint(mob-lg) {
        right: auto;
        padding: 20px;
        width: 90%;
        top: -40px;
        margin: 0;
      }
      .heading-large {
        position: relative;
        top: -80px;
        left: -60px;
        @include breakpoint(tablet) {
          top: -70px;
          left: initial;
          right: -80px;
        }
      }
      .copy {
        max-width: 446px;
        margin-left: 182px;
        @include breakpoint(tablet) {
          margin-left: 32px;
        }
        @include breakpoint(mob-lg) {
          margin-left: 0;
          margin-top: 20px;
        }
        &.chapter-divider {
          &::before {
            top: -60px;
            @include breakpoint(mob-lg) {
              top: -20px;
              width: 114%;
              padding: 0;
              left: -20px;
            }
          }
        }
        .heading-small {
          padding-bottom: 50px;
          @include breakpoint(tablet) {
            padding-top: 20px;
            padding-bottom: 30px;
          }
        }
      }
    }
  }
}

.hero-about {
  @include breakpoint(mob-lg) {
    margin-top: 0;
    margin-bottom: 0;
  }
  .inner {
    .img-outer {
      background-image: url("../assets/images/about/desktop/image-hero-about.jpg");
      @include breakpoint(tablet) {
        background-image: url("../assets/images/about/tablet/image-hero-about-tablet.jpg");
        background-size: cover;
        width: 620px;
        left: 60px;
      }
      @include breakpoint(mob-lg) {
        background-image: url("../assets/images/about/mobile/image-hero-about-mb.jpg");
        width: 100%;
        left: 0;
        background-size: contain;
        min-height: 240px;
      }
    }
  }
}

.chapter-heritage {
  .inner {
    @include breakpoint(tablet) {
      flex-direction: column-reverse;
    }
    &.chapter-divider {
      &::before {
        @include breakpoint(tablet) {
          left: 60px;
        }
        @include breakpoint(mob-lg) {
          left: 20px;
          top: 30px;
        }
      }
    }
    .img-outer {
      background: url("../assets/images/about/desktop/image-heritage.jpg")
        no-repeat center center;
      min-height: 570px;
      width: 540px;
      position: absolute;
      top: 0;
      right: 0;
      @include breakpoint(tablet) {
        position: relative;
        width: 100%;
        background-size: cover;
      }
      @include breakpoint(mob-lg) {
        min-height: 300px;
      }
    }
    .cols {
      .col-5 {
        padding-top: 120px;
        padding-right: 10px;
        @include breakpoint(tablet) {
          min-width: 100%;
          padding: 120px 20px 40px;
        }
        @include breakpoint(mob-lg) {
          padding: 60px 0 0;
        }
        .heading-small {
          padding-bottom: 50px;
        }
      }
    }
  }
}

.chapter-leaders {
  .cols {
    .col-3 {
      @include breakpoint(mob-lg) {
        max-width: 100% !important;
      }
      .heading-small {
        @include breakpoint(tablet) {
          padding-bottom: 50px;
        }
      }
    }
    .leaders-outer {
      flex-flow: wrap;
      padding-left: 20px;
      @include breakpoint(tablet) {
        padding-left: 0;
        min-width: 100%;
      }
      @include breakpoint(mob-lg) {
        flex-direction: column;
      }
      .leaders-item {
        padding-bottom: 34px;
        position: relative;
        @include breakpoint(tablet) {
          padding-bottom: 64px;
        }
        @include breakpoint(mob-lg) {
          min-width: 100%;
        }
        &:hover {
          .social-icons-outer {
            opacity: 1 !important;
          }
        }
        .bg-dark {
          display: none;
        }
        .img-outer {
          margin-bottom: 24px;
          position: relative;
          &::before {
            content: "";
            display: none;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: transparent
              linear-gradient(180deg, #00000000 0%, #0000007f 100%) 0% 0%
              no-repeat padding-box;
          }
          &:hover {
            &::before {
              display: block;
            }
          }
          img {
            max-width: 100%;
          }
          .social-icons-outer {
            @include absoluteCenter;
            display: flex;
            align-items: center;
            opacity: 0;
            @include breakpoint(tablet) {
              opacity: 1;
              top: 145%;
              left: 32px;
            }
            @include breakpoint(mob-lg) {
              top: 135%;
            }
            .social-icon {
              &:first-of-type {
                margin-right: 20px;
                @include breakpoint(mob-lg) {
                  margin-right: 0;
                }
              }
              img {
                @include breakpoint(tablet) {
                  max-width: 80%;
                }
                @include breakpoint(mob-lg) {
                  max-width: 30px;
                }
              }
            }
          }
        }
      }
    }
  }
}
