.header {
  max-width: $max-page-width;
  margin: 0 auto;
  position: relative;
  padding-bottom: 56px;
  .page-indicator {
    position: absolute;
    top: 120px;
    left: -25%;
    transform: rotate(90deg);
    .line {
      width: 104px;
      height: 1px;
      background-color: $light-grey;
      display: inline-block;
      position: relative;
      top: 10px;
    }
    .copy {
      text-transform: uppercase;
      color: $light-grey;
      text-align: left;
      letter-spacing: 15px;
      padding-left: 60px;
    }
  }
  nav {
    .inner {
      max-width: 620px;
      padding-top: 56px;
      flex-direction: row;
      .logo-outer {
        padding-right: 95px;
      }
      .links-outer {
        ul {
          list-style-type: none;
          li {
            padding-right: 70px;
            a {
              color: $medium-grey;
              text-align: left;
            }
          }
        }
      }
    }
  }
}

.footer {
  padding-right: 110px;
  footer {
    .inner {
      background: $very-light-grey 0% 0% no-repeat padding-box;
      max-width: 984px;
      min-height: 200px;
      .logo-box {
        top: 0;
        left: 0;
        width: 200px;
        height: 200px;
        background-color: $black;
        img {
          @include absoluteCenter;
        }
      }
      .footer-links {
        .inner {
          .link {
            padding-right: 52px;
            span {
            }
          }
        }
      }
      .btn-outer {
        right: -120px;
      }
    }
  }
}
