.header-mobile {
  .inner {
    display: flex;
    padding: 20px;
    justify-content: space-between !important;
    flex-direction: row !important;
    .logo-outer {
      img {
        max-width: 77px;
      }
    }

    .hamburger-icon {
      img {
        max-width: 100%;
      }
    }
  }
  .links {
    position: absolute;
    right: 0;
    top: 71px;
    width: 343px;
    background-color: $very-light-grey;
    z-index: 2;
    padding: 48px;
    display: none;
    ul {
      list-style-type: none;
      li {
        font-size: 1.8rem;
        line-height: 1.4em;
        font-weight: 700;
        color: $black;
        padding-bottom: 32px;
      }
    }
  }
}

.header {
  max-width: $max-page-width;
  margin: 0 auto;
  position: relative;
  padding-bottom: 56px;
  @include breakpoint(tablet) {
    padding: 0 20px 56px;
    justify-content: center !important;
  }
  @include breakpoint(mob-lg) {
    display: none !important;
  }
  &.header-portfolio {
    .page-indicator {
      @include breakpoint(tablet) {
        left: -20%;
      }
    }
  }
  .page-indicator {
    position: absolute;
    top: 120px;
    left: -25%;
    transform: rotate(90deg);
    @include breakpoint(desk-xl) {
      left: -20%;
    }
    @include breakpoint(tablet) {
      left: -15%;
    }
    .line {
      width: 104px;
      height: 1px;
      background-color: $light-grey;
      display: inline-block;
      position: relative;
      top: 10px;
    }
    .copy {
      text-transform: uppercase;
      color: $light-grey;
      text-align: left;
      letter-spacing: 15px;
      padding-left: 60px;
    }
  }
  nav {
    .inner {
      max-width: 620px;
      padding-top: 56px;
      flex-direction: row;
      .logo-outer {
        padding-right: 95px;
      }
      .links-outer {
        ul {
          list-style-type: none;
          li {
            padding-right: 70px;
            a {
              color: $medium-grey;
              text-align: left;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

.footer {
  padding-right: 110px;
  @include breakpoint(tablet) {
    padding-right: 0;
  }
  .cols {
    @include breakpoint(tablet) {
      padding: 0;
    }
    .col-9 {
      @include breakpoint(tablet) {
        min-width: 100%;
      }
    }
  }
  footer {
    .inner {
      background: $very-light-grey 0% 0% no-repeat padding-box;
      max-width: 984px;
      min-height: 200px;
      @include breakpoint(tablet) {
        min-height: 120px;
        max-width: 630px;
        margin: 0;
      }
      @include breakpoint(mob-lg) {
        min-height: 400px;
      }

      .logo-box {
        top: 0;
        left: 0;
        width: 200px;
        height: 200px;
        background-color: $black;
        z-index: 1;
        @include breakpoint(tablet) {
          width: 120px;
          height: 120px;
        }
        @include breakpoint(mob-lg) {
          top: -40px;
          left: 35%;
        }
        img {
          @include absoluteCenter;
          @include breakpoint(tablet) {
            transform: scale(0.8);
            top: 35%;
            left: 10%;
          }
        }
      }
      .footer-links {
        .inner {
          @include breakpoint(tablet) {
            justify-content: flex-start;
            padding-left: 150px;
          }
          @include breakpoint(mob-lg) {
            padding-left: 0;
            justify-content: center;
            flex-direction: column !important;
          }
          .link {
            padding-right: 52px;
            @include breakpoint(tablet) {
              padding-right: 40px;
            }
            @include breakpoint(mob-lg) {
              padding-right: 0;
              padding-bottom: 20px;
            }
          }
        }
      }
      .btn-outer {
        right: -120px;
        @include breakpoint(mob-lg) {
          right: 5%;
          bottom: 0;
          width: 100%;
          max-width: 335px;
          padding-bottom: 20px;
        }
        .btn {
          @include breakpoint(mob-lg) {
            min-width: 100%;
          }
        }
      }
    }
  }
}
