.portfolio {
  margin-bottom: 160px;
  @include breakpoint(mob-lg) {
    margin-top: 60px;
  }
  .inner {
    max-width: $max-page-width;
    .cols {
      flex-flow: wrap;
      @include breakpoint(tablet) {
        align-items: center;
      }
      @include breakpoint(mob-lg) {
        padding: 0 20px;
      }
      .portfolio-item {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        min-height: 560px;
        max-width: 350px;
        margin-right: 20px;
        margin-bottom: 20px;
        @include breakpoint(tablet) {
          margin-right: 0;
          min-height: 240px;
          min-width: auto;
          max-width: 573px;
          width: 100%;
        }

        &.margin-right-0 {
          margin-right: 0;
        }
        .content-outer {
          padding: 30px 20px;
          position: absolute;
          top: 80%;
          left: 20px;
          @include breakpoint(tablet) {
            top: 55%;
          }
          @include breakpoint(mob-lg) {
            left: 0;
          }
          .project {
            @include breakpoint(tablet) {
              padding-bottom: 10px;
            }
            @include breakpoint(mob-lg) {
              padding: initial;
            }
          }
          .project,
          .date {
            color: $white;
          }
          .date {
            font-weight: 300;
          }
        }
        &-one {
          background-image: url("../assets/images/portfolio/desktop/image-seraph.jpg");
          @include breakpoint(tablet) {
            background-image: url("../assets/images/portfolio/tablet/image-seraph.jpg");
          }
          @include breakpoint(mob-lg) {
            background-image: url("../assets/images/portfolio/mobile/image-seraph.jpg");
          }
        }
        &-two {
          background-image: url("../assets/images/portfolio/desktop/image-eebox.jpg");
          @include breakpoint(tablet) {
            background-image: url("../assets/images/portfolio/tablet/image-eebox.jpg");
          }
          @include breakpoint(mob-lg) {
            background-image: url("../assets/images/portfolio/mobile/image-eebox.jpg");
          }
        }
        &-three {
          background-image: url("../assets/images/portfolio/desktop/image-federal.jpg");
          @include breakpoint(tablet) {
            background-image: url("../assets/images/portfolio/tablet/image-federal.jpg");
          }
          @include breakpoint(mob-lg) {
            background-image: url("../assets/images/portfolio/mobile/image-federal.jpg");
          }
        }
        &-four {
          background-image: url("../assets/images/portfolio/desktop/image-del-sol.jpg");
          @include breakpoint(tablet) {
            background-image: url("../assets/images/portfolio/tablet/image-del-sol.jpg");
          }
        }
        &-five {
          background-image: url("../assets/images/portfolio/desktop/image-prototype.jpg");
          @include breakpoint(tablet) {
            background-image: url("../assets/images/portfolio/tablet/image-prototype.jpg");
          }
          @include breakpoint(mob-lg) {
            background-image: url("../assets/images/portfolio/mobile/image-prototype.jpg");
          }
        }
        &-six {
          background-image: url("../assets/images/portfolio/desktop/image-228b.jpg");
          @include breakpoint(tablet) {
            background-image: url("../assets/images/portfolio/tablet/image-228b.jpg");
          }
        }
        &-seven {
          background-image: url("../assets/images/portfolio/desktop/image-edelweiss.jpg");
          @include breakpoint(tablet) {
            background-image: url("../assets/images/portfolio/tablet/image-edelweiss.jpg");
          }
          @include breakpoint(mob-lg) {
            background-image: url("../assets/images/portfolio/mobile/image-edelweiss.jpg");
          }
        }
        &-eight {
          background-image: url("../assets/images/portfolio/desktop/image-netcry.jpg");
          @include breakpoint(tablet) {
            background-image: url("../assets/images/portfolio/tablet/image-netcry.jpg");
          }
          @include breakpoint(mob-lg) {
            background-image: url("../assets/images/portfolio/mobile/image-netcry.jpg");
          }
        }
        &-nine {
          background-image: url("../assets/images/portfolio/desktop/image-hypers.jpg");
          @include breakpoint(tablet) {
            background-image: url("../assets/images/portfolio/tablet/image-hypers.jpg");
          }
          @include breakpoint(mob-lg) {
            background-image: url("../assets/images/portfolio/mobile/image-hypers.jpg");
          }
        }
        &-ten {
          background-image: url("../assets/images/portfolio/desktop/image-sxiv.jpg");
          @include breakpoint(tablet) {
            background-image: url("../assets/images/portfolio/tablet/image-sxiv.jpg");
          }
          @include breakpoint(mob-lg) {
            background-image: url("../assets/images/portfolio/mobile/image-sxiv.jpg");
          }
        }
        &-eleven {
          background-image: url("../assets/images/portfolio/desktop/image-trinity.jpg");
          @include breakpoint(tablet) {
            background-image: url("../assets/images/portfolio/tablet/image-trinity.jpg");
          }
          @include breakpoint(mob-lg) {
            background-image: url("../assets/images/portfolio/mobile/image-trinity.jpg");
          }
        }
        &-twelve {
          background-image: url("../assets/images/portfolio/desktop/image-paramour.jpg");
          @include breakpoint(tablet) {
            background-image: url("../assets/images/portfolio/tablet/image-paramour.jpg");
          }
          @include breakpoint(mob-lg) {
            background-image: url("../assets/images/portfolio/mobile/image-paramour.jpg");
          }
        }
      }
    }
  }
}
