.chapter1 {
  .inner {
    .cols {
      max-width: 100%;
      .col-10 {
        @include breakpoint(tablet) {
          padding-bottom: 20px;
        }

        .heading-large {
          z-index: 1;
        }
      }
      .col-5 {
        margin-left: 200px;
        max-width: 446px;
        @include breakpoint(tablet) {
          margin-left: 0;
          min-width: 100%;
        }

        .heading-small {
          padding-bottom: 50px;
        }
      }
      .col-4 {
        background: url("../assets/images/home/desktop/image-welcome.jpg")
          no-repeat center center;
        background-size: cover;
        height: 568px;
        top: -90px;
      }
    }
  }
}

.chapter2 {
  .inner {
    background: url("../assets/images/home/desktop/image-small-team.jpg")
      no-repeat center center;
    background-size: cover;
    height: 560px;
    &::before {
      content: "";
      background-color: #000000;
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.5;
    }
    .cols {
      @include breakpoint(tablet) {
        align-items: center;
      }

      .col-4 {
        margin-left: 190px;
        @include breakpoint(tablet) {
          margin-left: 0;
          min-width: 445px;
        }

        .heading-small {
          color: $white;
          margin-bottom: 34px;
        }
      }
    }
  }
}

.chapter3 {
  .inner {
    .cols {
      @include breakpoint(tablet) {
        flex-direction: row !important;
      }
      &:nth-of-type(2) {
        @include breakpoint(tablet) {
          flex-direction: column !important;
        }
      }
      .col-4 {
        @include breakpoint(tablet) {
          min-width: 100%;
        }
      }
    }
    .heading-outer {
      margin-bottom: 64px;
    }
    .featured-outer {
      .featured {
        background-position: center center;
        background-size: cover;
        margin-right: 20px;
        min-height: 560px;
        max-width: 350px;
        @include breakpoint(tablet) {
          min-height: 268px;
          margin-right: 0;
          margin-bottom: 30px;
        }

        &::before {
          content: "";
          display: block;
          background: transparent
            linear-gradient(180deg, #00000000 0%, #0000007f 100%) 0% 0%
            no-repeat padding-box;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        &-1 {
          background-image: url("../assets/images/portfolio/desktop/image-del-sol.jpg");
          @include breakpoint(tablet) {
            background-image: url("../assets/images/portfolio/tablet/image-del-sol.jpg");
          }
        }
        &-2 {
          background-image: url("../assets/images/portfolio/desktop/image-228b.jpg");
          @include breakpoint(tablet) {
            background-image: url("../assets/images/portfolio/tablet/image-228b.jpg");
          }
        }
        &-3 {
          background-image: url("../assets/images/portfolio/desktop/image-prototype.jpg");
          margin-right: 0;
          @include breakpoint(tablet) {
            background-image: url("../assets/images/portfolio/tablet/image-prototype.jpg");
          }
        }

        .content-outer {
          padding: 30px 20px;
          .number-outer {
            text-align: right;
          }
          .copy-outer {
            padding-top: 240px;
            padding-left: 20px;
            @include breakpoint(tablet) {
              padding-top: 60px;
            }

            .project {
              font-size: 1.8rem;
              line-height: 1.4em;
              font-weight: 700;
              color: $white;
            }
            .link {
              color: $white;
              font-weight: 300;
            }
          }
        }
      }
    }
  }
}
