@mixin centreContent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: $max-page-width;
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chapter {
  position: relative;
  .inner {
    position: relative;
    @include centreContent();
    @include breakpoint(tablet) {
      padding: 0 40px;
    }
    @include breakpoint(mob-lg) {
      padding: 0 20px;
    }
  }
}

.hide-desktop {
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.hide-small-screens {
  @media screen and (min-width: 701px) and (max-width: $tablet) {
    display: none;
  }
}

.hide-mobile {
  @media screen and (max-width: $mob-lg) {
    display: none;
  }
}

.btn {
  background: $black 0% 0% no-repeat padding-box;
  padding: 20px 60px;
  position: relative;
  @include breakpoint(mob-lg) {
    @include centreContent();
    width: 100%;
  }
  &::after {
    content: "";
    display: block;
    background: url("../assets/images/icons/icon-arrow.svg") no-repeat center
      center;
    width: 30px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 20px;
    @include breakpoint(mob-lg) {
      top: 20px;
    }
  }
  span {
    text-align: right;
    color: $white;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5em;
    @include breakpoint(mob-lg) {
      font-size: 1.4rem;
      line-height: 1.4em;
      padding: 0;
    }
  }
  &:hover {
    background-color: $dark-grey;
    transition: background-color 0.25s ease-in-out;
  }
}

@mixin centreContent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.reader-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.margin-bottom-dsk {
  margin-bottom: 160px;
  @include breakpoint(mob-lg) {
    margin-bottom: 60px;
  }
}

.grid {
  opacity: 0.4;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  right: 0;
  height: 100%;
  z-index: 10000;
  pointer-events: none;
  .columns {
    max-width: $max-page-width;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    .column {
      display: flex;
      width: nth($cols, 12);
      margin: 0 12px;
      background-color: rgba(180, 242, 239, 0.5);
      height: 100vh;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.inner {
  position: relative;
  max-width: $max-page-width;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include breakpoint(desk-sm) {
    max-width: 768px;
  }
  @include breakpoint(mob-sm) {
    max-width: 300px;
  }
}
.width {
  &-100 {
    width: 100%;
  }
}
.cols {
  display: flex;
  flex-direction: row !important;
  align-items: flex-start;
  @include breakpoint(desk-sm) {
    width: 100% !important;
    padding: 0 50px;
    flex-direction: column !important;
  }
  @include breakpoint(tablet) {
    padding: 0 20px;
  }

  @include breakpoint(mob-lg) {
    padding: 0;
  }
  @include breakpoint(mob-sm) {
    padding: 0 5px;
  }
}
.cols > .cols {
  @include breakpoint(desk-sm) {
    padding: 0;
  }
}
@for $i from 1 through 12 {
  .col-#{$i} {
    width: calc(#{$max-width} / 12 * #{$i});
  }
}
@for $i from 1 through 12 {
  .col-spacer-#{$i} {
    padding-left: calc(#{$max-width-true} / 12 * #{$i});
  }
}

.col {
  padding: 0;
}

// .flex {
//   &-col {
//     flex-direction: column !important;
//   }
//   &-align-top {
//     align-items: flex-start !important;
//   }
//   &-align-end {
//     align-items: flex-end !important;
//   }
//   &-align-center {
//     align-items: center !important;
//   }
//   &-align-stretch {
//     align-items: stretch !important;
//   }
//   &-align-center {
//     align-items: center !important;
//   }
//   &-1 {
//     flex: 1;
//   }
//   &-justify-center {
//     justify-content: center !important;
//   }
//   &-justify-around {
//     justify-content: space-around !important;
//   }
// }
.width-100 {
  width: 100%;
}
.height-100 {
  height: 100%;
}
.full-width-align {
  margin-left: calc((100% - #{$max-width-true}) / 2);
  @include breakpoint(desk-sm) {
    margin-left: 0;
  }
}

.bg-dark {
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent
      linear-gradient(180deg, #00000000 0%, #0000007f 100%) 0% 0% no-repeat
      padding-box;
  }
}

.chapter-divider {
  position: relative;
  &::before {
    content: "";
    display: block;
    background-color: $light-grey;
    width: 65px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    @include breakpoint(mob-lg) {
      // width: 100%;
      top: -50px;
    }
  }
}
