@import "~bootstrap/scss/bootstrap";
@import "media-queries";
@import "variables";
@import "utilities";
@import "fonts";
@import "sections";
@import "hero";
@import "header-footer";
@import "portfolio";
@import "about";

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 1.5rem;
  line-height: 1.7em;
  color: $dark-grey;
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  &:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    color: $black !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}
